<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="bg-success text-white bg-opacity-75">

	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="#{text.factura.form.titulo}"></div>
			<div class="card-body">
				<h4 class="card-tittle">
					<a class="btn btn-dark btn-xs" th:href="@{'/ver/' + ${factura.cliente.id}}" th:text="#{text.global.volver}"></a>
				</h4>

				<form th:action="@{/factura/form}" th:object="${factura}" method="post">
					
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" th:text="#{text.factura.form.cliente}"></label>
					<div class="col-sm-6">
					<input th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}" disabled='disabled' class="mb-3"/>
					</div>
					</div>
					
					<div class="row mb-3">
						<label for="descripcion" class="col-sm-2 col-form-label" th:text="#{text.cliente.factura.descripcion}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="'form-control is-invalid'">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
						</div>
					</div>

					<div class="row mb-3">
						<label for="observacion" class="col-sm-2 col-form-label" th:text="#{text.factura.form.observacion}"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control" style="height: 195px;"></textarea>
						</div>
					</div>

					<div class="row mb-3">
						<label for="buscar_producto" class="col-sm-2 col-form-label" th:text="#{text.factura.form.buscar}"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto" class="form-control">
						</div>
					</div>
					
					<table th:replace="factura/plantilla-items :: itemsFactura"></table>
					
					<table id="cargarItemProductos" class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th th:text="#{text.factura.form.item.nombre}">Nombre</th>
								<th th:text="#{text.factura.form.item.precio}">Precio</th>
								<th th:text="#{text.factura.form.item.cantidad}">Cantidad</th>
								<th th:text="#{text.factura.form.item.total}">Total</th>
								<th th:text="#{text.factura.form.item.eliminar}">Eliminar</th>
							</tr>
						</thead>
						
						<tbody>
							
						</tbody>
					</table>
					
					<h5 th:text="#{text.factura.form.item.total}">Total: <span class="badge bg-secondary" id="gran_total">0</span></h5>
					
					<div class="mb-3">
						<div class="col-sm-6">
							<input type="submit" th:value="#{text.factura.form.titulo}" class="btn btn-success">
					
						</div>
						<a th:href="@{/listar}" class="btn btn-danger btn-sx my-2" th:text="#{text.global.cancelar}">Volver</a>
					</div>

				</form>

			</div>
		</div>
	</div>


	<br><br><br>
	<div class="py-5" style="position: relative; bottom: 0; width: 100%;">
		<footer th:replace="layout/layout :: footer"></footer>
	</div>
	
	<scrip th:replace="factura/js/autocomplete-productos :: javascript"></scrip>
	
</body>

</html>