*{
	font-family: Arial, Helvetica, sans-serif;
}


div.mensajeError{
	color: rgb(157, 0, 0);
}

h2.color-azul{
	color:blue;
}

h3.titulo{
	text-align: center;
	color:white;
	background-color: black;
}

input{
	margin-bottom: 10px;
}

